<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="info">Smart Farm Assistant</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="About"
            font
            color="white"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="form"
            font
            color="white"
            >Crop Prediction</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="diseases"
            font
            color="white"
            >Disease Detection</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="team"
            font
            color="white"
            >Our Team</a
          >
        </li>
      </ul>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
